<profiles>
    <profile>
        <id>github</id>
        <repositories>
            <repository>
                <id>github</id>
                <name>GitHub jassd Apache Maven Packages</name>
                <url>https://maven.pkg.github.com/jassd</url>
            </repository>
        </repositories>
    </profile>
</profiles>

