<profiles>
    <profile>
        <id>github</id>
        <repositories>
            <repository>
                <id>github</id>
                <name>GitHub jassd Apache Maven Packages</name>
                <url>https://maven.pkg.github.com/jassd</url>
            </repository>
        </repositories>
    </profile>
</profiles>

<servers>
    <server>
        <id>github</id>
        <username>aforslund</username>
        <password>f3e20267f837402aca46fe719696d6d238b8794d</password>
    </server>
</servers>
